@import "tailwindcss" prefix(tw);

@custom-variant light (&:where(.light, .light *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-end: 22rem;
  --breakpoint-sm: 28rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 72rem;

  --color-x: oklch(85% 0.3 330);
  --color-o: oklch(45% 0.25 330);
  --color-bg: oklch(10% 0 0);
  --color-text: oklch(95% 0.02 0);
  --color-topbar: oklch(15% 0 0);
  --color-screen: oklch(15% 0 0);
  --color-button-bg: oklch(20% 0 0);
  --color-button-text: oklch(85% 0.3 330);
  --color-neon: oklch(85% 0.3 330);
  --color-title: oklch(85% 0.3 330);
  --animate-neon-border: neon-border 8s ease-in-out infinite;
  @keyframes neon-border {
    0%,
    100% {
      border-color: oklch(60% 0.22 330);
      box-shadow: 0 4px 8px oklch(60% 0.22 330);
    }
    50% {
      border-color: oklch(30% 0.22 330);
      box-shadow: 0 4px 8px oklch(30% 0.22 330);
    }
  }
}

@utility btn-primary {
  border-radius: var(--tw-radius-xl);
  background-color: var(--tw-color-button-bg);
  color: var(--tw-color-button-text);
  font-weight: var(--tw-font-weight-medium);
  padding: 0.5rem 1.25rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1.5px solid var(--tw-color-button-text);
  animation: var(--tw-animate-neon-border);

  white-space: nowrap;

  &:hover {
    @media (hover: hover) {
      filter: brightness(0.9);
      transform: translateY(-1px);
    }
  }
}

@utility btn-secondary {
  border-radius: var(--tw-radius-xl);
  background-color: var(--tw-color-button-bg);
  color: var(--tw-color-button-text);
  font-weight: var(--tw-font-weight-semibold);
  padding: 1rem 1.25rem;
  font-size: 1.125rem;
  width: 12rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1.5px solid var(--tw-color-button-text);
  animation: var(--tw-animate-neon-border);
  &:hover {
    @media (hover: hover) {
      filter: brightness(0.9);
      transform: translateY(-2px);
      box-shadow: 0 6px 10px rgb(0 0 0 / 0.3);
    }
  }
  &:active {
    transform: translateY(0);
    filter: brightness(0.85);
  }
}
@utility btn-grid {
  border-radius: var(--tw-radius-xl);
  background-color: var(--tw-color-button-bg);
  color: var(--tw-color-button-bg);
  font-weight: var(--tw-font-weight-semibold);
  padding: 1rem 1.25rem;
  font-size: 1.125rem;
  width: 12rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1.5px solid var(--tw-color-button-text);
  animation: var(--tw-animate-neon-border);
  &:hover {
    @media (hover: hover) {
      filter: brightness(0.9);
      transform: translateY(-2px);
      box-shadow: 0 6px 10px rgb(0 0 0 / 0.3);
    }
  }
  &:active {
    transform: translateY(0);
    filter: brightness(0.85);
  }
}
@utility grid-display {
  color: var(--tw-color-title);
  font-weight: var(--tw-font-weight-semibold);
}

html,
body {
  min-width: 22rem;
  overflow-x: auto;
}

:root {
  box-sizing: border-box;
  background-color: var(--tw-color-bg);
  color: var(--tw-color-text);
  color-scheme: dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root.light {
  --tw-color-bg: oklch(85% 0.005 250);
  --tw-color-topbar: oklch(87% 0.005 250);
  --tw-color-screen: oklch(85% 0.005 250);

  --tw-color-button-bg: oklch(90% 0.004 270);
  --tw-color-button-text: oklch(45% 0.25 330);
  --tw-color-title: oklch(45% 0.25 330);

  --tw-color-text: oklch(28% 0.01 250);
  --tw-color-x: oklch(45% 0.25 330);
  --tw-color-o: oklch(85% 0.3 330);
  --tw-color-neon: oklch(45% 0.25 330);

  background-color: var(--tw-color-bg);
  color: var(--tw-color-text);
  color-scheme: light;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
